<aside class="p-2 bg-slate-400 dark:bg-zinc-800 sticky h-screen">
    <ul class="text-lg flex flex-col gap-y-3">
        <li><a [routerLink]="['categorias']"><fa-icon [icon]="faList" class="text-2xl"></fa-icon> Categorias</a></li>
        <li><fa-icon [icon]="faUser" class="text-2xl"></fa-icon> Información usuarios</li>
        <li *ngIf="findPermission('manage_roles')"><a [routerLink]="['permisos&roles']"><fa-icon [icon]="faRuler" class="text-2xl"></fa-icon> Permisos y roles</a></li>
    </ul>
</aside>
