<div class="absolute w-full" class="flex justify-center mt-8">
    <form action="" #FProfile="ngForm" (ngSubmit)="onSubmit(FProfile)" class="bg-slate-500 dark:bg-neutral-800 text-black dark:text-white p-8 w-2/5 overflow-auto" style="height: 30rem;">
        <h2 class="font-black text-4xl">Crear perfil para la cuenta</h2>
        <p>Los datos ingresados aquí serán públicos.</p>
        <div class="mt-3 flex flex-col gap-y-3 font-light text-lg">
            <div class="flex flex-col">
                <label for="imagen_perfil">Foto de perfil</label>
                <img [src]="imagen_url" alt="">
                <input type="file" name="imagen_perfil" id="imagen_perfil" (change)="onFileSelected($event)">
            </div>
            <div class="flex flex-col">
                <label for="name">Nombre:</label>
                <input type="text" required id="name"  class="focus:outline-none bg-slate-300 dark:bg-neutral-700 p-1" [(ngModel)]="nameprofile" name="name">
                <p *ngIf="nameprofile==''" class="text-sm font-normal">Coloca un nombre para la cuenta (Este nombre no será público)</p>
            </div>
            <div class="flex flex-col">
                <label for="name">Apellidos:</label>
                <input type="text" required id="name"  class="focus:outline-none bg-slate-300 dark:bg-neutral-700 p-1" [(ngModel)]="nameprofile" name="name">
                <p *ngIf="nameprofile==''" class="text-sm font-normal">Coloca un nombre para la cuenta (Este nombre no será público)</p>
            </div>
        </div>
    </form>
</div>
