<div class="min-h-screen">
<app-no-resources *ngIf="posts?.length == 0" [nameElement]="'post'"></app-no-resources>

<div class="p-5">
    <div *ngFor="let post of posts">
        <h3 class="font-black text-5xl">{{post.tittle}}</h3>
        <div *ngIf="post.user">
            <h5 class="italic text-2xl">Por: <a [routerLink]="['/profile/view/', post.user.id]" class="hover:underline">{{post.user.name}}</a></h5>
        </div>
        <div *ngIf="post.categories && post.categories.length == 0">
            <p>Sin categorías asignadas</p>
        </div>

        <div *ngIf="post.categories && post.categories.length > 0">

        </div>
    </div>
</div>
</div>