<footer class=" bg-slate-200 dark:bg-black/50 pt-20">
    <div class="flex justify-between pl-3 pr-3">
        <div>
            <p class="uppercase font-bold text-3xl">jhonblog</p>
            <p>Un sitio hecho por y para programadores</p>
        </div>
        <div>
            <p class="font-semibold text-2xl">Explora</p>
            <div class="flex flex-col">
                <a>Acerca de</a>
                <a>Mi historia</a>
                <a>Mis proyectos</a>
            </div>
        </div>
        <div>
            <p class="font-semibold text-2xl">Sígueme en:</p>
            <div class="flex gap-x-3">
                <a href=""><fa-icon [icon]="faFacebook" class="text-3xl hover:text-blue-500"></fa-icon></a>
                <a href=""><fa-icon [icon]="faInstagram" class="text-3xl hover:text-rose-500"></fa-icon></a>
                <a href=""><fa-icon [icon]="faGithub" class="text-3xl"></fa-icon></a>
                <a href=""><fa-icon [icon]="faXTwitter" class="text-3xl"></fa-icon></a>
            </div>
        </div>
        <div>
            <p class="font-semibold text-2xl">¿Tienes alguna opinión?</p>
            <form action="" class="flex flex-col mt-3 gap-y-2">
                <textarea name="" id="" placeholder="Tu opinion" class="text-black focus:outline-none pl-2 pr-2"></textarea>
                <input type="email" name="" id="" placeholder="Tú correo electrónico" class="text-black focus:outline-none p-2">
                <button type="submit" class="bg-green-400 p-3 rounded-sm">Enviar</button>
            </form>
        </div>
    </div>
    <p class="mt-10">2024 Todos los derechos reservados.</p>
</footer>