<div class="relative">
    <button class="bg-green-500 p-3" [swal]="modalAdd">Añadir nuevo</button>
    <div class="grid grid-cols-4 mt-6 gap-4" *ngIf="categories && categories.length>0">
        <div *ngFor="let category of categories" class="flex flex-col bg-slate-600 p-4 gap-y-3">
            <div>
                <p class="font-extrabold text-xl">{{category.name}}</p>
                <p class="font-normal text-base text-justify">{{category.description}}</p>
            </div>
            <div>
                <p class="text-xs">Creado por: {{category.user?.name}} el {{category.created_at | date}}</p>
                <p class="text-xs">Última modificación: {{category.updated_at| date}}</p>
            </div>
            <div class="mt-auto flex justify-between">
                <button (click)="setCategory(category)" [swal]="modalAdd">Modificar</button>
                <button (click)="deleteCategory(category)">Eliminar</button>
            </div>
        </div>
    </div>

    <swal title="Añadir nueva categoría" #modalAdd [showConfirmButton]="false" (dismiss)="clearData()" (didOpen)="detectState()">
        <form *swalPortal="swalTargets.content" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="flex flex-col gap-y-3">
                <label for="name">Nombre para la categoría:</label>
                <input type="text" name="name" id="name" [(ngModel)]="category.name" required>
                <p class="text-red-500" *ngIf="category.name?.length==0">El campo debe estar lleno para proceder.</p>
            </div>

            <div class="flex flex-col gap-y-3">
                <label for="description">Descripción para la categoría: </label>
                <input type="text" name="description" id="description" [(ngModel)]="category.description" required>
                <p class="text-red-500" *ngIf="category.description?.length==0">El campo debe estar lleno para proceder.
                </p>
            </div>

            <button type="submit">Añadir</button>
        </form>
    </swal>

    <div *ngIf="!categories || categories.length==0">
        <p class="text-yellow-500 font-semibold text-xl">Aún no hay categorías disponibles para los usuarios, añade
            nuevas para permitir categorizar mejor los datos</p>
    </div>
</div>